.education{

position:center;
/* width:100%; */

min-height:100vh;

/* padding:120px 40px; */

/* overflow:hidden; */

/* background:

radial-gradient(circle at top,#16213e,#000); */



box-sizing:border-box;
width:100%;


padding:120px 40px;


/* margin-top:10%;


margin-bottom:10%; */


background:


radial-gradient(

circle at top,

#172554,

#020617

);


box-sizing:border-box;


overflow:hidden;


}






/*
========================
TITLE
========================
*/


.education h1{


font-family:"Poppins",sans-serif;


font-size:60px;


font-weight:1000;


letter-spacing:10px;


text-align:center;


color:white;


margin-bottom:120px;



text-shadow:


0 0 25px #03B0FD;





}







/*
========================
CONTAINER
========================
*/


.education-container{


width:100%;
/* padding:0px 100px; */

max-width:3000px;


display:flex;


flex-direction:column;


align-items:center;


}








/*
========================
UNIVERSITY CARD
========================
*/


.university-card{


width:800px;


max-width:100%;



padding:45px 40px;



text-align:center;



border-radius:25px;



border:


1px solid rgba(3,176,253,.8);



background:


rgba(255,255,255,.05);



backdrop-filter:blur(10px);



box-shadow:


0 0 40px rgba(3,176,253,.25);



transition:.4s;



}



.university-card:hover{


transform:translateY(-10px);



box-shadow:


0 0 60px rgba(3,176,253,.6);



}




.university-icon{


font-size:55px;


margin-bottom:20px;



}





.university-card h2{


font-size:34px;


font-weight:800;



line-height:1.4;



color:white;



margin-bottom:15px;



}




.university-card p{


font-size:22px;


color:#9ca3af;


}








/*
========================
TIMELINE
========================
*/


.education-timeline{


position:relative;


width:850px;


max-width:100%;



margin-top:120px;



display:flex;


flex-direction:column;



gap:70px;



}





.timeline-line{


position:absolute;



left:25px;



top:0;



bottom:0;



width:3px;



background:


linear-gradient(

cyan,

white,

cyan

);



box-shadow:


0 0 20px cyan;



}







/*
========================
DEGREE CARD
========================
*/


.degree-card{


display:flex;



align-items:center;



gap:40px;



position:relative;



}





.degree-dot{


width:22px;


height:22px;



border-radius:50%;



background:#03B0FD;



box-shadow:


0 0 25px cyan;



z-index:2;



flex-shrink:0;



}







.degree-content{


width:100%;



padding:30px 40px;



border-radius:20px;



background:


rgba(255,255,255,.05);



border:


1px solid rgba(255,255,255,.15);



transition:.4s;



}





.degree-content:hover{


transform:translateX(15px);



border-color:#03B0FD;



box-shadow:


0 0 35px rgba(3,176,253,.4);



}







.degree-content h3{


font-size:27px;



color:white;



font-weight:700;



margin-bottom:15px;



}




.degree-content span{


font-size:20px;


color:#9ca3af;



}








/*
========================
TABLET
========================
*/


@media(max-width:1024px){



.education{


padding:100px 25px;


}



.education h1{


font-size:48px;


}



.university-card h2{


font-size:28px;


}



.degree-content h3{


font-size:23px;


}



}








/*
========================
MOBILE
========================
*/


@media(max-width:600px){



.education{


padding:80px 20px;


}




.education h1{


font-size:38px;


margin-bottom:60px;


}




.university-card{


padding:30px 20px;


}





.university-card h2{


font-size:22px;


}



.university-card p{


font-size:18px;


}







.education-timeline{


margin-top:70px;



}



.timeline-line{


left:15px;


}





.degree-card{


gap:25px;


}



.degree-dot{


width:15px;


height:15px;


}



.degree-content{


padding:25px;


}





.degree-content h3{


font-size:18px;



line-height:1.5;



}



.degree-content span{


font-size:15px;



}



}