.experience{


/* width:100%; */

min-height:100vh;

/* padding:120px 40px; */

/* overflow:hidden; */

/* background:

radial-gradient(circle at top,#16213e,#000); */



box-sizing:border-box;
width:100%;


padding:120px 40px;


/* margin-top:10%;


margin-bottom:10%; */


background:


radial-gradient(

circle at top,

#172554,

#020617

);


box-sizing:border-box;


overflow:hidden;
}





.experience h1{


font-family:"Poppins",sans-serif;


font-size:60px;


font-weight:1000;


letter-spacing:10px;


text-align:center;


color:white;


margin-bottom:120px;



text-shadow:


0 0 25px #03B0FD;



}



/* timeline */


.career-timeline{


max-width:2200px;

height:800px;

margin:auto;


display:flex;

justify-content:space-between;

align-items:flex-end;


position:relative;


}





.horizontal-line{


position:absolute;


bottom:250px;


left:0;

right:0;


height:5px;


background:

linear-gradient(

90deg,

transparent,

cyan,

white,

cyan,

transparent

);



box-shadow:

0 0 25px cyan;


}





/* card */


.career-card{


width:420px;

height:890px;


display:flex;

flex-direction:column;

align-items:center;


position:relative;


}





/* company information */


.career-content{


height:330px;


display:flex;

flex-direction:column;


justify-content:flex-end;


align-items:center;


text-align:center;


}





.career-content h2{


font-size:34px;

font-weight:900;

color:white;


margin-bottom:25px;


}





.career-content p{


width:100%;


font-size:18px;


line-height:1.7;


color:#b8b8b8;


}





/* image button */


.career-button{


width:450px;

height:300px;


border-radius:25px;


position:relative;


overflow:visible;


cursor:pointer;


border:2px solid rgba(255,255,255,.4);



background:black;


transition:.5s;


box-shadow:


0 0 25px #03B0FD;



}





.career-button:hover{


transform:

translateY(-25px)

scale(1.05);



border-color:cyan;


box-shadow:


0 0 40px cyan;



}




.career-button img{


width:100%;

height:100%;


object-fit:cover;


border-radius:25px;


}




.button-glow{


position:absolute;


inset:-5px;


border-radius:30px;


background:

linear-gradient(

45deg,

cyan,

purple,

blue

);



filter:blur(20px);


opacity:.4;


z-index:-1;



}





/* number */


.career-number{


font-family:"Poppins",sans-serif;


font-size:30px;


font-weight:1000;


letter-spacing:5px;


text-align:center;


color:white;


margin-bottom:130px;

margin-top:5%;

text-shadow:


0 0 25px #03B0FD;


}






/* preview */


.preview{


position:absolute;


width:900px;


height:450px;


bottom:280px;


left:50%;


transform:translateX(-50%);


z-index:20;


animation:magic .4s ease;



}





.preview img{


width:100%;

height:100%;


object-fit:cover;


border-radius:25px;


box-shadow:


0 0 50px cyan;


}



@keyframes magic{


from{


opacity:0;

transform:

translateX(-50%)

scale(.5);


}


to{


opacity:1;

transform:

translateX(-50%)

scale(1);


}


}






/* =====================
TABLET
===================== */


@media(max-width:1200px){



.career-timeline{


height:auto;


display:grid;


grid-template-columns:repeat(2,1fr);


gap:120px;


}



.horizontal-line{


display:none;


}



.career-card{


width:100%;


}


}






/* =====================
MOBILE
===================== */


@media(max-width:768px){



.experience{


padding:80px 20px;


}




.experience h1{


font-size:42px;


margin-bottom:80px;


}




.career-timeline{


display:flex;

flex-direction:column;


gap:100px;


}




.career-card{


height:auto;


}



.career-content{


height:auto;

margin-bottom:30px;


}




.career-content h2{


font-size:28px;


}



.career-content p{


font-size:16px;


}



.career-button{


width:300px;


height:200px;


}



.career-number{


font-size:55px;


}



.preview{


width:300px;

height:250px;


bottom:220px;


}



}