.about-section{


width:100%;


padding:300px 40px;
/* margin-top:100px;

margin-top:5%;


margin-bottom:10%; */


background:


radial-gradient(

circle at top,

#172554,

#020617

);



box-sizing:border-box;


overflow:hidden;


}






.about-section h1{


font-family:"Poppins",sans-serif;


font-size:60px;


font-weight:1000;


letter-spacing:10px;


text-align:center;


color:white;


/* margin-bottom:100px; */



text-shadow:


0 0 25px cyan;



}






.about-container{


max-width:1500px;


margin:auto;



display:flex;


align-items:center;


justify-content:space-between;


gap:80px;


}





/*
====================
TEXT
====================
*/


.about-text{


width:60%;


padding:45px;


border-radius:30px;



background:


rgba(255,255,255,.06);



border:


1px solid rgba(3,176,253,.4);



backdrop-filter:blur(15px);



box-shadow:


0 0 40px rgba(3,176,253,.15);



}




.about-text p{


font-family:"Poppins",sans-serif;


font-size:22px;


line-height:1.9;



font-weight:400;


color:#e2e8f0;



text-align:left;


}






/*
====================
RIGHT VISUAL
====================
*/


.about-visual{


width:40%;


height:500px;


position:relative;



display:flex;


align-items:center;


justify-content:center;



}







.glow-circle{


position:absolute;


width:350px;


height:350px;


border-radius:50%;



background:#03B0FD;



filter:blur(120px);



opacity:.35;



}








.about-card{


position:relative;


z-index:2;



width:350px;


height:350px;



border-radius:35px;



background:


rgba(255,255,255,.08);



border:


1px solid rgba(3,176,253,.6);



backdrop-filter:blur(20px);



display:flex;


flex-direction:column;



align-items:center;


justify-content:center;



text-align:center;



box-shadow:


0 0 50px rgba(3,176,253,.35);



transition:.5s;



}





.about-card:hover{


transform:


translateY(-20px);



box-shadow:


0 0 80px cyan;



}




.about-card h2{


font-size:38px;


font-weight:1000;


color:white;


margin:0;


text-shadow:


0 0 15px cyan;



}





.about-card span{


font-size:24px;


font-weight:800;


color:#03B0FD;



margin-top:10px;


}





.line{


width:180px;


height:2px;


margin:30px 0;



background:


linear-gradient(

90deg,

transparent,

cyan,

transparent

);



}





.about-card p{


width:250px;


font-size:16px;


line-height:1.7;


color:#cbd5e1;


}







/*
====================
TABLET
====================
*/


@media(max-width:1000px){



.about-container{


flex-direction:column;


gap:60px;


}



.about-text,


.about-visual{


width:100%;


}



.about-text p{


font-size:19px;


}



.about-visual{


height:450px;


}



}








/*
====================
MOBILE
====================
*/


@media(max-width:600px){



.about-section{


padding:80px 20px;


}





.about-section h1{


font-size:42px;


/* margin-bottom:60px; */


}




.about-text{


padding:25px;


}





.about-text p{


font-size:16px;


line-height:1.8;


}




.about-card{


width:280px;


height:280px;


}




.about-card h2{


font-size:30px;


}



.about-card span{


font-size:20px;


}



}